.Content-card-services img {
  width: 76px;
  height: 64px;
}

.Services {
  margin: 100px 0;
}

.Content-card-services {
  display: flex;
  background: linear-gradient(to right, rgba(7, 160, 129, 40%), white);
  width: 230px;
  height: 100px;
  border-radius: 20px;
  align-items: center;
  justify-content: space-evenly;
}


.Cards-services {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.title-services {
  text-align: center;
  text-align: center;
  margin: 30px;
}

.title-services p {
  font-size: 20px;
}


.Content-card-services p {
  font-size: 20px;
  font-weight: 600;
}